<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <link href="dist/rpgui.css" rel="stylesheet" type="text/css">
  <script src="dist/rpgui.js"></script>
  <script src="dist/htmx.js"></script>
  <script src="dist/dungeonlib.js"></script>
</head>

<body style="background: #222;">
  <div id="app" class="rpgui-content rpgui-cursor-default">
    <div style="display: flex; justify-content: center; align-items: center; height: 100%;">
      <div class="rpgui-container framed">
        <p>Добро пожаловать в подземелье!</p>
      </div>
    </div>
  </div>
</body>

</html>
