{% extends "base.html" %}
{% block app %}

<!-- background --!>
<div
  style="display: flex; justify-content: center; align-items: center; height: 100%; background: url('dist/inn.avif') no-repeat; background-size: cover;">
  <{% include "header.html" %}
</div>

<!-- character --!>
{% block characterName %}
Пьяный трактирщик
{% endblock characterName %}

{% block characterImage %}
dist/innkeeper.png
{% endblock characterImage %}

<!-- lines --!>
{% block dialogText %}
<p>О, приветствую тебя, мой друг! Давно не виделись, ладно не стесняйся, присаживайся. Будь как дома, путник. Сейчас такое расскажу...</p>
{% endblock dialogText %}


{% endblock app %}
