{% extends "base.html" %}
{% block app %}

<!-- background --!>
<div
  style="display: flex; justify-content: center; align-items: center; height: 100%; background: url('dist/shelter.jpg') no-repeat; background-size: cover;">
  <{% include "header.html" %}
  <div class="rpgui-container framed-golden" style="min-width: 50%;">
      <h1>Магическая грамота авантюриста</h1>

      <hr>

      <p>Земное имя: <font color="#ff0">{{ user.name }}</font></p>
      <p>Потустороннее имя: <font color="#ff0">{{ user.login }}</font></p>
      <p>Класс авантюриста: <font color="#ff0">{{ user.class }}</font></p>
      <p>Количество выполненых заказов: <font color="#ff0">{{ completed_tasks }}</font></p>

      {% if user.is_admin %}
      <hr>
      <div class="rpgui-center">
        <button class="rpgui-button golden" type="button" onclick="inviteUser()">
          <p>Скопировать приглашение</p>
        </button>
      </div>
      {% endif %}
  </div>

</div>

{% block characterImage %}
dist/player.png
{% endblock characterImage %}

<!-- lines --!>
{% block dialogText %}
<p>Вы входите в свое убежище, которое, кажется, никто не прибирал годами за исключением самых отважных авантюристов, которые, к несчастью, куда-то подевались...</p>
{% endblock dialogText %}


{% endblock app %}
