{% extends "base.html" %}
{% block app %}

<!-- background --!>
<div
  style="display: flex; justify-content: center; align-items: center; height: 100%; background: url('dist/dungeon-entrance.jpg') no-repeat; background-size: cover;">
    <!-- choose next page --!>
    <div id="choice" class="rpgui-center" style="bottom: 20px; display: none">
      <a href="/signin"><button class="rpgui-button" type="button" style="width:40px"><p>Да</p></button></a>
      <a href="/signup"><button class="rpgui-button" type="button" style="width:40px"><p>Нет</p></button></a>
	  </div>
</div>

<!-- character --!>
{% block characterName %}
Таинственный маг
{% endblock characterName %}

{% block characterImage %}
dist/magician.png
{% endblock characterImage %}

<!-- callback --!>
{% block dialogCallback %}showChoice{% endblock dialogCallback %}

<!-- lines --!>
{% block dialogText %}
<p>Приветствую тебя, путник! Ты, верно, заблудился или решил поискать себе преключений? А, впрочем, неважно - дело твое.</p>
<p style="display: none;">Кхм-кхм... Однако знай, что в подземелье слабаков не любят, 
только сильные духом и чистые душой могут стать авантюристами и прославиться, как сделали наши великие предки.</p>
<div style="display: none;">
  <p>Ну, с формальной частью я закончил. Теперь перейдем к делу: ты уже бывал в подземелье?</p>
</div>
{% endblock dialogText %}


{% endblock app %}
